
p{
font-size:28px;
}
   html {
       scroll-behavior: smooth;
   }
   body {
       margin:0;
       padding: 0;
   }

h2{}

    .myDiv2 {
            vertical-align: top;
            margin: 0;
            padding: 10px;
            background-color: rgb(245, 240, 230);
        }
    .myDiv3 {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 10px;
        color:white;
        background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
    }

     .myDiv4 {
                vertical-align: top;
                margin: 0;
                padding: 10px;
                background-color: rgb(245, 240, 230);
     }

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  grid-auto-rows: minmax(100px, auto);
}
.box{
background-color:#182b49;
color:white;
max-height:500px;
text-align:center;
font-size:28px;

}

h2{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    max-width:100%;
}

.logo{
    max-width:400px;
}
.sports{
    max-width:100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color:black;
    background-color: white;
}

li {
    float: left;
}

@media (max-width: 800px) {
.navbar{
display:none;
}
    .logo{
    max-width:300px;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }

    .wrapper {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:repeat(2,auto);
    }
}

li a {
    display: block;
    font-size: 28px;
    color: black;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

li a:hover {
    background-color: #182b49;
    color:white;
}

.navbar {
   position: sticky;
   top: 0;
   overflow: hidden;
   color:black;
   background-color: white;
}
img{
max-width:100%;
}

